/**
 * @Component Name: Chart Data Blocks
 * @Component Description: Family of blocks that will contain chart or graph data
 * @Dependencies:
 * @Author: NM Peters
 */

.chartdata{
  background-color: $blue-lobelia;
  border-radius: $border-radius;

  &__title{
    background-color: #1F2940;
    padding: $uniformed-margin;
    border-radius: $border-radius;
  }
}