/**
 * @Component Name: Chart Data Blocks
 * @Component Description: Family of blocks that will contain chart or graph data
 * @Dependencies:
 * @Author: NM Peters
 */

.circularchart{
  background-color: $blue-lobelia;
  border-radius: $border-radius;

  &__title{
    background-color: #1F2940;
    padding: $uniformed-margin;
    border-radius: $border-radius;
  }

  &__graph{
    height: 260px;
    text-align: center;

    h4, p {
      position: relative;
      top: 50%;
      transform: perspective(1px) translateY(-50%);
    }
  }
  
}