/*------------------------------------*
	SVG ARTWORK COLORS
*------------------------------------*/

$hei-se-black: #151D31;
$blue-lobelia: #25314B;
$tomato-red: #E12E00;
$vermilion: #E3390D;
$mediterranean-sea: #118DA9;
$aquarium-diver: #1197B3;

/*------------------------------------*
	SVG ARTWORK FONT FACES
*------------------------------------*/

$proximanova-regular: 'ProximaNova-Regular';
$lucidagrande: 'LucidaGrande';
$proximanova-bold: 'ProximaNova-Bold';
$proximanova-light: 'ProximaNova-Light';

