/*------------------------------------*\
  COLORS
\*------------------------------------*/

/* GENERIC COLORS */

$black: #000;
$white: #FFF;
$silver: #EBEBEB;
$grey: #9B9B9B;
$dkgrey: #4A4A4A;

$red: #D80A0A;
$green: #00A330;
$blue: #0E58A3;

/* UI COLORS */
$text-color: $dkgrey;

@import url('https://fonts.googleapis.com/css?family=Montserrat');

$font-base-size: 16;

$font-primary: 'Montserrat', Helvetica, Arial, sans-serif;

$font-size-h1: px-to-rem(30, $font-base-size);
$line-height-h1: 1.2;

$font-size-h2: px-to-rem(24, $font-base-size);
$line-height-h2: 1.2;

$font-size-h3: px-to-rem(18, $font-base-size);
$line-height-h3: 1.2;

$font-size-h4: px-to-rem(14, $font-base-size);
$line-height-h4: 1.2;

$font-size-h5: px-to-rem(12, $font-base-size);
$line-height-h5: 1.2;

$font-size-h6: px-to-rem(12, $font-base-size);
$line-height-h6: 1.2;

$font-size-body: $font-size-h3;
$line-height-body: 1.2;

//[ 'font-size:24px',
//'font-size:12px',
//'font-size:18px',
//'font-size:14px',
//'font-size:36px' ]

/*------------------------------------*\
  Layout Padding
\*------------------------------------*/

$uniformed-margin: 20px;

/*------------------------------------*\
  Border Radius
\*------------------------------------*/

$border-radius: 5px;