@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background: #151D31;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16;
  -webkit-text-size-adjust: 16;
  line-height: 1.5;
  color: #fff; }

.container {
  max-width: 1160px;
  margin: auto; }

.swatches {
  display: flex;
  flex-flow: wrap;
  width: calc(100% + 10px);
  margin: 0 0 0 -5px; }

.swatches__block {
  flex: 1 0 25%;
  margin: 5px;
  border: 1px solid #EFEFEF; }

.swatches__color {
  height: 250px;
  background-color: #FFFFFF; }

.swatched__colorname {
  padding: 10px; }

.hei-se-black {
  background-color: #151D31; }

.blue-lobelia {
  background-color: #25314B; }

.tomato-red {
  background-color: #E12E00; }

.vermilion {
  background-color: #E3390D; }

.mediterranean-sea {
  background-color: #118DA9; }

.aquarium-diver {
  background-color: #1197B3; }

h1, h2, h3, h4, h5, h6, .size-h4, .size-h2, .size-h1 {
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-style: normal; }

h1, .size-h1 {
  font-size: 1.875rem;
  line-height: 1.2; }

h2, .size-h2 {
  font-size: 1.5rem;
  line-height: 1.2; }

h3 {
  font-sxize: 1.125rem;
  line-height: 1.2; }

h4, .size-h4 {
  font-size: .875rem;
  line-height: 1.2; }

h5 {
  font-size: .75rem;
  line-height: 1.2; }

h6 {
  font-size: .75rem;
  line-height: 1.2; }

p, .size-p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.2; }

strong {
  font-weight: 400; }

body {
  padding: 20px;
  display: flex;
  flex-direction: column; }

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.top-row {
  display: flex;
  flex-direction: column; }

@media screen and (min-width: 768px) {
  .top-row {
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch; } }

.bottom-row {
  display: flex;
  flex-direction: column;
  width: calc(100% + 20px);
  margin: 0 0 0 -10px; }

@media screen and (min-width: 640px) {
  .bottom-row {
    flex-direction: row;
    flex-flow: wrap; } }

.bottom-row__column {
  flex: 1 1 auto;
  margin: 10px; }

@media screen and (min-width: 640px) {
  .bottom-row__column {
    flex: 1 1 calc(50% - 20px); } }

@media screen and (min-width: 1024px) {
  .bottom-row__column {
    flex: 1 1 calc(25% - 20px); } }

.ticker-block {
  flex: 1;
  background-color: #25314B;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex; }

.ticker-block__data-title {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-size: .75rem;
  margin-bottom: 5px; }

.ticker-block__data-stat {
  font-size: 1.5rem; }

.ticker-block__data-stat--small {
  font-size: 1.125rem; }

.ticker-block__data-stat--gain {
  color: #118DA9; }

.ticker-block__data-stat--loss {
  color: #E3390D; }

.ticker-block__data-change {
  font-size: .75rem; }

.ticker-block__data-change--gain {
  color: #118DA9; }

.ticker-block__data-change--loss {
  color: #E3390D; }

.ticker-block__line-chart {
  height: 53px;
  flex: 1; }

.ticker-block--inline {
  border-radius: 5px; }

@media screen and (min-width: 768px) {
  .ticker-block--inline {
    border-radius: 0; }
  .ticker-block--inline:first-child {
    border-radius: 5px 0 0 5px; }
  .ticker-block--inline:last-child {
    border-radius: 0 5px 5px 0; } }

.ticker-block--red {
  border-left: 6px solid #E12E00; }

.ticker-block--blue {
  border-left: 6px solid #118DA9; }

.circularchart, .areachart {
  background-color: #25314B;
  border-radius: 5px; }

.circularchart .size-h1, .areachart .size-h1 {
  font-weight: 300; }

.circularchart__title, .areachart__title {
  background-color: #1F2940;
  padding: 20px;
  border-radius: 5px; }

.circularchart__graph, .areachart__graph {
  height: 260px;
  text-align: center; }

.circularchart__graph svg, .areachart__graph svg {
  border-radius: 5px 5px 5px 5px; }

.circularchart__fill--blue, .areachart__fill--blue {
  fill: #1197B3; }

.circularchart__fill--red, .areachart__fill--red {
  fill: #E3390D; }

/*# sourceMappingURL=base.css.map */
